@{
    ViewData["Title"] = "NonAuthorized";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <h2 class="display-4"><a asp-controller="Account" asp-action="Login">Войдите</a> в свой аккаунт или <a asp-controller="Account" asp-action="Register">зарегистрируйтесь</a></h2>
</div>
